<a class="govuk-pub-escape-link govuk-link {{- ' ' + params.classes if params.classes }}" data-module="govuk-pub-escape-link" href="{{ params.href }}" rel="nofollow noreferrer noopener" target="_blank" {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  {{- params.html | safe if params.html else params.text -}}
</a>
