$govuk-global-styles: true;

$govuk-pub-page-width: 1220px !default;

$app-code-colour: #d13118;

// GOV.UK Frontend
@import "node_modules/govuk-frontend/govuk/all";

// GOV.UK Publishing Frontend
@import "src/govuk-pub/all";

// Components that aren't in Frontend
@import "components/title";


// Other styles

// .govuk-header__container {
//   border-bottom: 10px solid govuk-colour('red');
// }

.app-background--on-govuk-blue {
  background-color: govuk-colour("blue");
}

.app-font-colour--white {
  color: govuk-colour("white");
}

.app-code {
  padding: 0 5px;
  color: $app-code-colour;
  background-color: govuk-colour("light-grey");
  font-family: monospace, monospace;
  font-size: govuk-font(19);
}

.app-pre {
  @include govuk-responsive-margin(4, "bottom");
  position: relative;
  margin: 0;
  padding: govuk-spacing(3);
  overflow: auto;
  background: govuk-colour("light-grey");
  font-size: govuk-font(19);

  .app-code {
    color: govuk-colour("black");
  }
}
