{% extends "layouts/base.html" %}

{% block pageTitle %}
  Summary list component – GOV.UK Publishing Frontend
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "../"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Components</span>
      Summary list
    </h1>

    <p class="govuk-body-l">Use the summary list to summarise information, for example, a user’s responses at the end of a form.</p>

    <p class="govuk-body"><a class="govuk-link" href="https://content-publisher.integration.publishing.service.gov.uk/component-guide/summary_list">GOV.UK component guide</a></p>

    <p class="govuk-body"><a class="govuk-link" href="https://github.com/simonwhatley/govuk-publishing-frontend/tree/master/src/govuk-pub/components/summary-list">View the Nunjucks macro options on GitHub</a></p>

  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Examples</h2>

    <h3 class="govuk-heading-m">Example 1</h3>

    <p class="govuk-body">With heading</p>

    {{ govukPubSummaryList({
      heading: {
        text: 'Title, summary and body'
      },
      rows: [
        {
          key: {
            text: "Title"
          },
          value: {
            text: "Ethical standards for public service providers"
          }
        },
        {
          key: {
            text: "Summary"
          },
          value: {
            text: "Find out more about our reviews on the subject of ethical standards for public service providers, including our 2014 report, 2015 guidance and 2018 follow-up publication."
          }
        },
        {
          key: {
            text: "Body"
          },
          value: {
            text: "After the government decided in 2013 to expand the remit of the Committee to include public service providers, the Committee on Standards in Public Life produced our first report on the issue: Ethical Standards for Providers of Public Services in 2014."
          }
        }
      ]
    }) }}

    <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 2</h3>

    <p class="govuk-body">Without heading</p>

    {{ govukPubSummaryList({
      rows: [
        {
          key: {
            text: "Title"
          },
          value: {
            text: "Ethical standards for public service providers"
          }
        },
        {
          key: {
            text: "Summary"
          },
          value: {
            text: "Find out more about our reviews on the subject of ethical standards for public service providers, including our 2014 report, 2015 guidance and 2018 follow-up publication."
          }
        },
        {
          key: {
            text: "Body"
          },
          value: {
            text: "After the government decided in 2013 to expand the remit of the Committee to include public service providers, the Committee on Standards in Public Life produced our first report on the issue: Ethical Standards for Providers of Public Services in 2014."
          }
        }
      ]
    }) }}

    <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 3</h3>

    <p class="govuk-body">Without borders</p>

    {{ govukPubSummaryList({
      heading: {
        text: 'Title, summary and body'
      },
      classes: 'govuk-summary-list--no-border',
      rows: [
        {
          key: {
            text: "Title"
          },
          value: {
            text: "Ethical standards for public service providers"
          }
        },
        {
          key: {
            text: "Summary"
          },
          value: {
            text: "Find out more about our reviews on the subject of ethical standards for public service providers, including our 2014 report, 2015 guidance and 2018 follow-up publication."
          }
        },
        {
          key: {
            text: "Body"
          },
          value: {
            text: "After the government decided in 2013 to expand the remit of the Committee to include public service providers, the Committee on Standards in Public Life produced our first report on the issue: Ethical Standards for Providers of Public Services in 2014."
          }
        }
      ]
    }) }}

    <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 4</h3>

    <p class="govuk-body">With actions on section</p>

    {{ govukPubSummaryList({
      heading: {
        text: 'Title, summary and body'
      },
      actions: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "title, summary and body"
        },
        {
          href: "#",
          text: "Delete",
          visuallyHiddenText: "title, summary and body"
        }
      ],
      rows: [
        {
          key: {
            text: "Title"
          },
          value: {
            text: "Ethical standards for public service providers"
          }
        },
        {
          key: {
            text: "Summary"
          },
          value: {
            text: "Find out more about our reviews on the subject of ethical standards for public service providers, including our 2014 report, 2015 guidance and 2018 follow-up publication."
          }
        },
        {
          key: {
            text: "Body"
          },
          value: {
            text: "After the government decided in 2013 to expand the remit of the Committee to include public service providers, the Committee on Standards in Public Life produced our first report on the issue: Ethical Standards for Providers of Public Services in 2014."
          }
        }
      ]
    }) }}

    <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 5</h3>

    <p class="govuk-body">With actions on individual items</p>

    {{ govukPubSummaryList({
      heading: {
        text: 'Title, summary and body'
      },
      rows: [
        {
          key: {
            text: "Title"
          },
          value: {
            text: "Ethical standards for public service providers"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "title"
              },
              {
                href: "#",
                text: "Delete",
                visuallyHiddenText: "title"
              }
            ]
          }
        },
        {
          key: {
            text: "Summary"
          },
          value: {
            text: "Find out more about our reviews on the subject of ethical standards for public service providers, including our 2014 report, 2015 guidance and 2018 follow-up publication."
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "summary"
              },
              {
                href: "#",
                text: "Delete",
                visuallyHiddenText: "summary"
              }
            ]
          }
        },
        {
          key: {
            text: "Body"
          },
          value: {
            text: "After the government decided in 2013 to expand the remit of the Committee to include public service providers, the Committee on Standards in Public Life produced our first report on the issue: Ethical Standards for Providers of Public Services in 2014."
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "body"
              },
              {
                href: "#",
                text: "Delete",
                visuallyHiddenText: "body"
              }
            ]
          }
        }
      ]
    }) }}

    <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 6</h3>

    <p class="govuk-body">With actions on section and individual items</p>

    {{ govukPubSummaryList({
      heading: {
        text: 'Title, summary and body'
      },
      actions: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "title, summary and body"
        },
        {
          href: "#",
          text: "Reorder",
          visuallyHiddenText: "title, summary and body"
        }
      ],
      rows: [
        {
          key: {
            text: "Title"
          },
          value: {
            text: "Ethical standards for public service providers"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "title"
              },
              {
                href: "#",
                text: "Delete",
                visuallyHiddenText: "title"
              }
            ]
          }
        },
        {
          key: {
            text: "Summary"
          },
          value: {
            text: "Find out more about our reviews on the subject of ethical standards for public service providers, including our 2014 report, 2015 guidance and 2018 follow-up publication."
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "summary"
              },
              {
                href: "#",
                text: "Delete",
                visuallyHiddenText: "summary"
              }
            ]
          }
        },
        {
          key: {
            text: "Body"
          },
          value: {
            text: "After the government decided in 2013 to expand the remit of the Committee to include public service providers, the Committee on Standards in Public Life produced our first report on the issue: Ethical Standards for Providers of Public Services in 2014."
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "body"
              },
              {
                href: "#",
                text: "Delete",
                visuallyHiddenText: "body"
              }
            ]
          }
        }
      ]
    }) }}

    <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 7</h3>

    <p class="govuk-body">Use the summary list with a block when you need to show an empty state message or load another component.</p>

    {% call govukPubSummaryList({
      heading: {
        text: 'Topics'
      }
    }) %}

      <p class="govuk-body">No topics specified for this document.</p>

    {% endcall -%}

  </div>
</div>

{% endblock %}
