{% extends "layouts/base.html" %}

{% block pageTitle %}
  Publisher metadata component – GOV.UK Publishing Frontend
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "../"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Components</span>
      Publisher metadata
    </h1>

    <p class="govuk-body-l">Used to display a list of <a href="../components/published-dates">publication dates</a> and publishers.</p>

    <p class="govuk-body"><a class="govuk-link" href="https://government-frontend.herokuapp.com/component-guide/publisher-metadata">GOV.UK component guide</a></p>

    <p class="govuk-body"><a class="govuk-link" href="https://github.com/simonwhatley/govuk-publishing-frontend/tree/master/src/govuk-pub/components/publisher-metadata">View the Nunjucks macro options on GitHub</a></p>

    <h2 class="govuk-heading-l">Examples</h2>

    <h3 class="govuk-heading-m">Example 1</h3>

    {{ govukPubPublisherMetadata({
      published: {
        text: 'Published',
        timestamp: '1 January 1990'
      },
      lastUpdated: {
        text: 'Last updated',
        timestamp: '20 October 2016'
      }
    }) }}

    <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 2</h3>

    {{ govukPubPublisherMetadata({
      published: {
        text: 'Published',
        timestamp: '1 January 1990'
      },
      lastUpdated: {
        text: 'Last updated',
        timestamp: '20 October 2016'
      },
      sections: [{
        heading: {
          text: 'From'
        },
        items: [{
          heading: {
            text: 'Ministry of Defence'
          },
          href: '#'
        }, {
          heading: {
            text: 'Ministry of Justcice'
          },
          href: '#'
        }, {
          heading: {
            text: 'Cabinet Office'
          },
          href: '#'
        }]
      }]
    }) }}

    <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 3</h3>

    {{ govukPubPublisherMetadata({
      published: {
        text: 'Published',
        timestamp: '1 January 1990'
      },
      lastUpdated: {
        text: 'Last updated',
        timestamp: '20 October 2016'
      },
      linkToHistory: {
        href: '#',
        text: 'see all updates'
      },
      sections: [{
        heading: {
          text: 'From'
        },
        items: [{
          heading: {
            text: 'Ministry of Defence'
          },
          href: '#'
        }, {
          heading: {
            text: 'Ministry of Justcice'
          },
          href: '#'
        }, {
          heading: {
            text: 'Cabinet Office'
          },
          href: '#'
        }]
      }]
    }) }}

  </div>
</div>

{% endblock %}
