.app-c-title--inverse {
  color: govuk-colour("white");

  .app-c-title__text,
  .app-c-title__context {
    color: inherit;
  }
}

.app-c-title__context-link {
  text-decoration: none;

  &:link,
  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    color: $govuk-focus-text-colour;
    text-decoration: none;
  }
}

.app-c-title__text {
  @extend %govuk-heading-xl;
  margin: 0;
}

.app-c-title__text--long {
  @extend %govuk-heading-l;
}
