{%- from "govuk/components/tabs/macro.njk" import govukTabs %}

{%- set mobilePreviewHtml %}
<div class="govuk-pub-preview__mobile">
<iframe class="govuk-pub-preview__mobile-iframe" src="{{ params.href }}" title="Preview of the page on mobile"></iframe>
</div>
{% endset -%}

{%- set desktopPreviewHtml %}
<iframe class="govuk-pub-preview__desktop-preview" src="{{ params.href }}" title="Preview of the page on desktop or tablet"></iframe>
{% endset -%}

{%- set searchEngineSnippetHtml %}
<div class="govuk-pub-preview__google">
<a class="govuk-pub-preview__google-title" href="{{ params.href }}">{{ params.snippet.title }}</a>
<div class="govuk-pub-preview__google-url">{{ params.href }}</div>
<div class="govuk-pub-preview__google-description">{{ params.snippet.description }}</div>
</div>
{% endset -%}

<div class="govuk-pub-preview {{- ' ' + params.containerClasses if params.containerClasses }}">

  {{ govukTabs({
    id: params.id | default('page-preview'),
    idPrefix: params.idPrefix,
    title: params.title | default('Contents'),
    items: [
      {
        id: (params.id + "-mobile") if params.id else "mobile",
        label: "Mobile",
        panel: {
          html: mobilePreviewHtml
        }
      },
      {
        id: (params.id + "-desktop") if params.id else "desktop",
        label: "Desktop and tablet",
        panel: {
          html: desktopPreviewHtml
        }
      },
      {
        id: (params.id + "-search-engine") if params.id else "search-engine",
        label: "Search engine snippet",
        panel: {
          html: searchEngineSnippetHtml
        }
      } if params.snippet
    ],
    classes: params.classes,
    attributes: params.attributes
  }) }}

</div>