{% extends "layouts/base.html" %}

{% block pageTitle %}
  Step by step navigation header component – GOV.UK Publishing Frontend
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "../"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Components</span>
      Step by step navigation header
    </h1>

    <p class="govuk-body-l">Shows that a content page is part of a step by step navigation.</p>

    <p class="govuk-body"><a class="govuk-link" href="https://components.publishing.service.gov.uk/component-guide/step_by_step_nav_header">GOV.UK component guide</a></p>

    <p class="govuk-body"><a class="govuk-link" href="https://github.com/simonwhatley/govuk-publishing-frontend/tree/master/src/govuk-pub/components/step-by-step-navigation-header">View the Nunjucks macro options on GitHub</a></p>

    <h2 class="govuk-heading-l">Examples</h2>

    <h3 class="govuk-heading-m">Example 1</h3>

    {{ govukPubStepByStepNavigationHeader({
      heading: {
        text: 'Having children: step by step',
        href: '#'
      }
    }) }}

    <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 2</h3>

    {{ govukPubStepByStepNavigationHeader({
      heading: {
        text: 'Learn to drive a car: step by step'
      }
    }) }}

  </div>
</div>

{% endblock %}
