{% extends "layouts/base.html" %}

{% block pageTitle %}
  Notice component – GOV.UK Publishing Frontend
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "../"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Components</span>
      Notice
    </h1>

    <p class="govuk-body-l">Displays a notice to convey and highlight information.</p>

    <p class="govuk-body"><a class="govuk-link" href="http://government-frontend.herokuapp.com/component-guide/notice">View the GOV.UK component guide</a></p>

    <p class="govuk-body"><a class="govuk-link" href="https://github.com/simonwhatley/govuk-publishing-frontend/tree/master/src/govuk-pub/components/notice">View the Nunjucks macro options on GitHub</a></p>

    <h2 class="govuk-heading-l">Examples</h2>

    <h3 class="govuk-heading-m">Example 1</h3>

    {{ govukPubNotice({
      heading: {
        text: 'Statistics release cancelled'
      }
    }) }}

    <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 2</h3>

    <p class="govuk-body">With a heading and description</p>

    {{ govukPubNotice({
      heading: {
        text: 'Statistics release cancelled'
      },
      description: {
        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      }
    }) }}

    <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 3</h3>

    <p class="govuk-body">With multiple paragraphs of description</p>

    {{ govukPubNotice({
      heading: {
        text: 'Statistics release cancelled'
      },
      description: {
        html: '<p class="govuk-body">Lorem ipsum dolor sit amet, <a class="govuk-link" href="#">consectetur adipisicing</a> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p class="govuk-body">Lorem ipsum dolor sit amet, <a class="govuk-link" href="#">consectetur adipisicing</a> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'
      }
    }) }}

    <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 4</h3>

    <p class="govuk-body">With data attributes</p>

    {{ govukPubNotice({
      heading: {
        text: 'Statistics release cancelled'
      },
      description: {
        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      attributes: {
        'aria-label': 'Notice',
        role: 'region'
      }
    }) }}

    <h3 class="govuk-heading-m">Example 5</h3>

    <p class="govuk-body">With markup in the heading</p>

    {{ govukPubNotice({
      heading: {
        html: 'Advisory Committee on Novel Foods and Processes has a <a class="govuk-link" href="http://www.food.gov.uk/acnfp">separate website</a>'
      }
    }) }}

    <h3 class="govuk-heading-m">Example 6</h3>

    <p class="govuk-body">Without a heading</p>

    {{ govukPubNotice({
      description: {
        text: 'Scheduled to publish at 8am on 25 April 2019'
      }
    }) }}

  </div>
</div>

{% endblock %}
