{% extends "layouts/base.html" %}

{% block pageTitle %}
  Side navigation component – GOV.UK Publishing Frontend
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "../"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Components</span>
      Side navigation
    </h1>

    <p class="govuk-body-l">Component showing a secondary navigation in a side of the page.</p>

    <p class="govuk-body"><a class="govuk-link" href="https://content-publisher.integration.publishing.service.gov.uk/component-guide/side_navigation">GOV.UK component guide</a></p>

    <p class="govuk-body"><a class="govuk-link" href="https://github.com/simonwhatley/govuk-publishing-frontend/tree/master/src/govuk-pub/components/side-navigation">View the Nunjucks macro options on GitHub</a></p>

    <h2 class="govuk-heading-l">Examples</h2>

    <h3 class="govuk-heading-m">Example 1</h3>

    <p class="govuk-body">Default</p>

    {{ govukPubSideNavigation({
      items: [
        {
          text: "Nav item 1",
          href: "#",
          attributes: {
            tracking: "UTM-1234"
          }
        },
        {
          text: "Nav item 2",
          href: "#",
          active: true,
          attributes: {
            tracking: "UTM-1235"
          }
        },
        {
          text: "Nav item 3",
          href: "#",
          attributes: {
            tracking: "UTM-1236"
          }
        }
      ]
    }) }}

    <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 2</h3>

    <p class="govuk-body">Without link on active element</p>

    {{ govukPubSideNavigation({
      items: [
        {
          text: "Nav item 1",
          href: "#",
          attributes: {
            tracking: "UTM-1235"
          }
        },
        {
          text: "Nav item 2",
          active: true,
          classes: 'govuk-!-font-weight-bold'
        },
        {
          text: "Nav item 3",
          href: "#",
          attributes: {
            tracking: "UTM-1234"
          }
        }
      ]
    }) }}

  </div>
</div>

{% endblock %}
