{% extends "layouts/base.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">GOV.UK Publishing Frontend</h1>

    <p class="govuk-body-l">GOV.UK Publishing Frontend contains the code you need to start building user interfaces for UK government services.</p>

    <p class="govuk-body-l">It is an amalgamation of components and patterns described in GOV.UK component guides.</p>

    <h2 class="govuk-heading-m">Components</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="./components/notice">Notice</a></li>
    </ul>

  </div>
</div>
{% endblock %}
