{% extends "layouts/base.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">GOV.UK Publishing Frontend</h1>

    <p class="govuk-body-l">GOV.UK Publishing Frontend contains the code you need to start building user interfaces for UK government services.</p>

    <p class="govuk-body-l">It is an amalgamation of components and patterns described in GOV.UK component guides.</p>

    <h2 class="govuk-heading-m">Components</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="./components/banner">Banner</a></li>
      <li><a href="./components/contents-list">Contents list</a></li>
      <li><a href="./components/document-list">Document list</a></li>
      <li><a href="./components/download-link">Download link</a></li>
      <li><a href="./components/email-link">Email link</a></li>
      <li><a href="./components/highlight-boxes">Highlight boxes</a></li>
      <li><a href="./components/image-card">Image card</a></li>
      <li><a href="./components/inset-prompt">Inset prompt</a></li>
      <li><a href="./components/inverse-header">Inverse header</a></li>
      <li><a href="./components/notice">Notice</a></li>
      <li><a href="./components/organisation-logo">Organisation logo</a></li>
      <li><a href="./components/previous-next-navigation">Previous/next navigation</a></li>
      <li><a href="./components/print-link">Print link</a></li>
      <li><a href="./components/published-dates">Published dates</a></li>
      <li><a href="./components/publisher-metadata">Publisher metadata</a></li>
      <li><a href="./components/related-navigation">Related navigation</a></li>
      <li><a href="./components/share-links">Share links</a></li>
      <li><a href="./components/step-by-step-navigation">Step by step navigation</a></li>
      <li><a href="./components/step-by-step-navigation-header">Step by step navigation header</a></li>
      <li><a href="./components/step-by-step-navigation-related">Step by step navigation related</a></li>
      <li><a href="./components/subscription-links">Subscription links</a></li>
      <li><a href="./components/summary-list">Summary list</a></li>
      <li><a href="./components/taxon-list">Taxon list</a></li>
      <li><a href="./components/taxonomy-list">Taxonomy list</a></li>
      <li><a href="./components/topic-list">Topic list</a></li>
      <li><a href="./components/translation-navigation">Translation navigation</a></li>
    </ul>

  </div>
</div>
{% endblock %}
