{%- block top_of_page %}{% endblock %}
{%- from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{%- from "govuk/components/button/macro.njk" import govukButton %}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput %}
{%- from "govuk/components/details/macro.njk" import govukDetails %}
{%- from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{%- from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{%- from "govuk/components/footer/macro.njk" import govukFooter %}
{%- from "govuk/components/input/macro.njk" import govukInput %}
{%- from "govuk/components/header/macro.njk" import govukHeader %}
{%- from "govuk/components/label/macro.njk" import govukLabel %}
{%- from "govuk/components/panel/macro.njk" import govukPanel %}
{%- from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{%- from "govuk/components/radios/macro.njk" import govukRadios %}
{%- from "govuk/components/select/macro.njk" import govukSelect %}
{%- from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{%- from "govuk/components/tabs/macro.njk" import govukTabs %}
{%- from "govuk/components/table/macro.njk" import govukTable %}
{%- from "govuk/components/tag/macro.njk" import govukTag %}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea %}
{%- from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{%- from "govuk-pub/components/action-link/macro.njk" import govukPubActionLink %}
{%- from "govuk-pub/components/banner/macro.njk" import govukPubBanner %}
{%- from "govuk-pub/components/chevron-banner/macro.njk" import govukPubChevronBanner %}
{%- from "govuk-pub/components/contents-list/macro.njk" import govukPubContentsList %}
{%- from "govuk-pub/components/cookie-banner/macro.njk" import govukPubCookieBanner %}
{%- from "govuk-pub/components/copy-to-clipboard/macro.njk" import govukPubCopyToClipboard %}
{%- from "govuk-pub/components/document-list/macro.njk" import govukPubDocumentList %}
{%- from "govuk-pub/components/download-link/macro.njk" import govukPubDownloadLink %}
{%- from "govuk-pub/components/email-link/macro.njk" import govukPubEmailLink %}
{%- from "govuk-pub/components/escape-link/macro.njk" import govukPubEscapeLink %}
{%- from "govuk-pub/components/facet-tags/macro.njk" import govukPubFacetTags %}
{%- from "govuk-pub/components/feedback/macro.njk" import govukPubFeedback %}
{%- from "govuk-pub/components/glance-metric/macro.njk" import govukPubGlanceMetric %}
{%- from "govuk-pub/components/header/macro.njk" import govukPubHeader %}
{%- from "govuk-pub/components/highlight-boxes/macro.njk" import govukPubHighlightBoxes %}
{%- from "govuk-pub/components/image-card/macro.njk" import govukPubImageCard %}
{%- from "govuk-pub/components/info-metric/macro.njk" import govukPubInfoMetric %}
{%- from "govuk-pub/components/inset-prompt/macro.njk" import govukPubInsetPrompt %}
{%- from "govuk-pub/components/inverse-header/macro.njk" import govukPubInverseHeader %}
{%- from "govuk-pub/components/loading-spinner/macro.njk" import govukPubLoadingSpinner %}
{%- from "govuk-pub/components/notice/macro.njk" import govukPubNotice %}
{%- from "govuk-pub/components/organisation-logo/macro.njk" import govukPubOrganisationLogo %}
{%- from "govuk-pub/components/page-preview/macro.njk" import govukPubPagePreview %}
{%- from "govuk-pub/components/previous-next-navigation/macro.njk" import govukPubPreviousNextNavigation %}
{%- from "govuk-pub/components/print-link/macro.njk" import govukPubPrintLink %}
{%- from "govuk-pub/components/published-dates/macro.njk" import govukPubPublishedDates %}
{%- from "govuk-pub/components/publisher-metadata/macro.njk" import govukPubPublisherMetadata %}
{%- from "govuk-pub/components/related-navigation/macro.njk" import govukPubRelatedNavigation %}
{%- from "govuk-pub/components/secondary-navigation/macro.njk" import govukPubSecondaryNavigation %}
{%- from "govuk-pub/components/share-links/macro.njk" import govukPubShareLinks %}
{%- from "govuk-pub/components/side-navigation/macro.njk" import govukPubSideNavigation %}
{%- from "govuk-pub/components/step-by-step-navigation/macro.njk" import govukPubStepByStepNavigation %}
{%- from "govuk-pub/components/step-by-step-navigation-header/macro.njk" import govukPubStepByStepNavigationHeader %}
{%- from "govuk-pub/components/step-by-step-navigation-related/macro.njk" import govukPubStepByStepNavigationRelated %}
{%- from "govuk-pub/components/subscription-links/macro.njk" import govukPubSubscriptionLinks %}
{%- from "govuk-pub/components/summary-list/macro.njk" import govukPubSummaryList %}
{%- from "govuk-pub/components/taxon-list/macro.njk" import govukPubTaxonList %}
{%- from "govuk-pub/components/taxonomy-list/macro.njk" import govukPubTaxonomyList %}
{%- from "govuk-pub/components/topic-list/macro.njk" import govukPubTopicList %}
{%- from "govuk-pub/components/translation-navigation/macro.njk" import govukPubTranslationNavigation %}
{%- from "govuk-pub/components/url-preview/macro.njk" import govukPubUrlPreview %}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title{% if pageTitleLang %} lang="{{ pageTitleLang }}"{% endif %}>{% block pageTitle %}GOV.UK Publishing Frontend{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="{{ themeColor | default('#0b0c0c') }}">
    {# Ensure that older IE versions always render with the correct rendering engine #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block headIcons %}
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ assetPath | default('/assets') }}/images/favicon.ico" type="image/x-icon" />
      <link rel="mask-icon" href="{{ assetPath | default('/assets') }}/images/govuk-mask-icon.svg" color="{{ themeColor | default('#0b0c0c') }}"> {# Hardcoded value of $govuk-black #}
      <link rel="apple-touch-icon" sizes="180x180" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon.png">
    {% endblock %}

    {%- block pageHead %}{% endblock %}

    <meta name="description" content="Design your service using GOV.UK styles, components and patterns">
    <meta property="og:image" content="/public/images/govuk-pub-opengraph-image.png">

    <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet"><![endif]-->
    <!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" rel="stylesheet"><!--<![endif]-->

    <!--[if lt IE 9]>
      <script src="/public/javascripts/vendor/html5shiv.js"></script>
    <![endif]-->
    {%- block pageStyles %}{% endblock %}
  </head>
  <body class="app-body">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    {% block bodyStart %}{% endblock %}

    {% block skipLink %}
      {{ govukSkipLink({
        href: '#main-content',
        text: 'Skip to main content'
      }) }}
    {% endblock %}

    {% block header %}
      {#{ govukHeader({
        serviceName: "Publishing Frontend"
      }) }#}
    {% endblock %}

    {% block main %}
      <div class="govuk-width-container {{ containerClasses }}">
        {% block beforeContent %}{% endblock %}
        <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
          {% block content %}{% endblock %}
        </main>
      </div>
    {% endblock %}

    {% block footer %}
      {#{ govukFooter({}) }#}
    {% endblock %}

    {%- block bodyEnd %}
      {%- block scripts %}
        {%- include "includes/scripts.html" %}
        {%- block pageScripts %}{% endblock %}
      {%- endblock %}
    {% endblock -%}
  </body>
</html>
